@import url(//db.onlinewebfonts.com/c/240a7cb10b49b02c94ceddc459d385a9?family=Gagalin);

	.bg-li {
    background-color: #B0C4DE;
    font-size: 20px;
    color: white;
    padding: 0em 10px 6px;
}
.logo{
	
	font-size: 35px;
	font-family: 'Gagalin';
	color: black;
}
.navbar-light .navbar-nav .nav-link{
	color: black;
}
.btn-outline-success{
	background-color: black;
	font-family: 'Gagalin';
}